<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="musixcloud is a music streaming and audio distribution platform. We are known to be a music library which enables it's user to access it's products with no complexity. ,the interface is more flexible to communicate with by the end users without been stressful. We are the Nigeria first music library that holds several catalogue of Nigeria indigenous music, ranging from pop to Nigeria local music. This platform is build basically to bring you closer to that leisure moment you have always wanted. Musixcloud is on his way to acquire the prize of most visited, consistent, and reliable online platform that provide, render ,and deliver the most solicited music both in audio and video format on daily basis to the world. Musixcloud deals with quality ">
    <meta name="keywords" content="download naija music,lyrics,visualization,indigious Nigeria music,download,stream songs,entertainment,share,musixcloud- Best Nigerian Music - musics, music videos, news, rab, events and more from the Nigerian music industry. Industry Nite, Olamide.,davido music,wizkid music, olamide music, simi music, burna boy music, yemi alade music, tiwa salvage, korede bello, kiss daniel, rema music">
    <link rel="canonical" href="https://www.musixcloud.com" />
    <title>Musixcloud</title>
    <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" >
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='stickyjs/stickyaudioplayerjquery.min.css') }}" >
    <script type="text/javascript" src="{{ url_for('static', filename='js/clipboard.min.js') }}" ></script>
    <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
    <script  type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='stickyjs/stickyaudioplayerjquery.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lyricer/lyricer.js') }}" ></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lyricer/lyricer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='dist/amplitude.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='wave/dist/bundle.iife.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/player.css') }}"/>
</head>
<body class="body-hide">
{% block body %}

{% endblock %}

</body>
</html>